.banner{
	background-image: url(../../images/banner.jpg);
	color: white;
	padding-left: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	color: white;
	font-size: 50px
}

.banner h5{
	color: white;
	font-size: 25px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}